.map {
    height: 100%;
    width: 100%;
    margin: auto;
    transition-property: width, height;
    transition-duration: 0.5s;
    margin-bottom: 40px;
}

.map.small-map {
    height: 70%;
    width: 70%;
}

@media (max-width: 900px) {
    .map.small-map {
        height: 100%;
        width: 100%;
    }
}
