
.map {
    height: 100%;
    width: 100%;
    margin: auto;
    transition-property: width, height;
    transition-duration: 2s;
    margin-bottom: 40px;
}

/* .states-layout {
    fill: none;
} */

.map.small-map {
    height: 70%;
    width: 70%;
}

@media (max-width: 1200px) {
    .map.small-map {
        height: 100%;
        width: 100%;
    }
}
