
.map {
    height: 100%;
    width: 100%;
    margin: auto;
    transition-property: width, height;
    transition-duration: 2s;
    margin-bottom: 40px;
}

.map.small-map {
    height: 75%;
    width: 75%;
    margin: unset;
    margin-left: 20%;
}

@media (max-width: 1200px) {
    .map.small-map {
        height: 100%;
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
        order: 1;
    }
}
