.App {
  display: block;
}
.title {
  position: relative;
}

.title .title-image {
  width: 100%;
  height: auto;
  margin: auto;
  filter: brightness(0.8);
  z-index: 1;
}

.title .title-card {
  position: absolute;
  width: 50%;
  height: 45%;
  background-color: white;
  top: 25%;
  left: 25%;
  border-radius: 3px;
  z-index: 2;
}

.title .title-card .officer {
  position: absolute;
  width: 23%;
  height: 45%;
  top: 55%;
  left: 40%;
  z-index: 3;
}

.title .title-card .title-text {
  position: absolute;
  font-family: 'georgia';
  font-weight: 400;
  text-align: center;
  width: 90%;
  font-size: 5vw;
  top: 0%;
  left: 5%;
  z-index: 4;
}

.explanation {
  width: 45%;
  text-indent: 2em;
  font-size: 1.3vw;
  text-align: left;
  margin: auto;
  margin-top: 48px;
  font-family: 'georgia';
}

.visualization {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.location {
  display: inline;
  margin: 0;
  margin-top: 5vh;
  margin-bottom: 2vh;
  font-size: 70px;
  font-weight: normal;
  font-family: 'futura';
  transition-property: font-size;
  transition-duration: 0.5s;
  height: 10vh;
  width: 100vw;
}

.vis-body {
  display: flex;
  height: 83vh;
  width: 100vw;
}

.vis-body .left-side {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: auto
}

.vis-body .left-side.selected {
  margin: unset
}

.vis-body .left-side .top-row {
  height: 0;
  width: 100%;
  transition-property: height, visibility;
  transition-duration: 0.5s;
  visibility: hidden;
  display: flex;
}

.vis-body .left-side .top-row.selected {
  visibility: visible;
  height: 30%;
}

@media (max-width: 900px) {
  .vis-body .left-side .top-row.selected {
    flex-direction: column;
    height: 90%;
  }
}
