.App {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.vis-body {
    display: flex;
    width: 100%;
    flex: 8 1 auto;
}

.header {
    display: flex;
    flex: 1 1 auto;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
}

.right-column {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
}

.left-column .map {
    flex: 1 1 auto;
    display: flex;
}