.budget-per-capita {
    display: inline-block;
    width: 50%;
    height: 100%;
    /* border: 1px solid green; */
}

.budget-per-capita .hundred {
    width: 125px;
    height: 53px;
}

@media (max-width: 900px) {
    .budget-per-capita {
        width: 100%;
        height: 33%;
    }
}