.budget-per-capita {
    display: inline-block;
    width: 40%;
    height: 100%;
}

.budget-per-capita .budget-message {
    font-size: 16px;
    font-family: "futura";
}

.budget-per-capita .hundred {
    width: 125px;
    height: 53px;
    margin: 5px;
    box-shadow: 2px 2px 2px grey;
}

@media (max-width: 1200px) {
    .budget-per-capita {
        width: 90%;
        margin: 20px auto;
    }

    .budget-per-capita .budget-message {
        font-size: 20px;
        margin: 20px auto;
    }
}