.budget-comparison {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 50%;
}

.budget-comparison-explainer {
    font-family: "futura";
}

/* .budget-comparison-officer {
    position: absolute;
    right: 185px;
    top: 82%;
    width: 70px;
    height: 70px;
} */

.svg-arrows {
    width: 100%;
    height: 100%;
}

.budget-comparison .svg-arrows .policing-budget-arrow {
    stroke: black;
    stroke-width: 1px;
}

.budget-comparison .svg-arrows .other-budget-arrow {
    fill: #006666;
    stroke: black;
    stroke-width: 1px;
}

.budget-comparison .svg-arrows .bracket {
    fill: none;
    stroke: black;
    stroke-width: 4px;
}

.budget-comparison .svg-arrows .total-budget-text {
    font: 30px "futura";
}

.budget-comparison .svg-arrows .policing-budget-text {
    font: 40px "futura";
    fill: white;
}

.budget-comparison .svg-arrows .other-budget-text {
    font: 40px "futura";
    fill: white;
}

.budget-comparison .svg-arrows .everything-else-text {
    font: 30px "futura";
}

@media (max-width: 900px) {
    .budget-comparison {
        width: 100%;
        height: 33%;
    }
}