.budget-comparison {
  /* flex: 1 1 auto; */
  display: block;
  border: 1px solid blue;
  height: 100%;
  width: 100%;
}

.svg-arrows {
    width: 100%;
    height: 100%;
    border: 1px solid green;
}

.budget-comparison .svg-arrows .policing-budget-arrow {
    fill: none;
    stroke: purple;
    stroke-width: 1px;
}

.budget-comparison .svg-arrows .other-budget-arrow {
    fill: none;
    stroke: purple;
    stroke-width: 1px;
}

.budget-comparison .svg-arrows .policing-budget-text {
    font: italic 40px serif;
    fill: blue;
}

.budget-comparison .svg-arrows .other-budget-text {
    font: italic 40px serif;
    fill: blue;
}