.police-to-civilian-ratio {
    height: 0%;
    width: 0%;
    transition-property: height, width, visibility;
    transition-duration: 0.5s;
    visibility: hidden;
    /* border: 1px solid red; */
    display: block;
    /* border: 1px solid green; */
}

.police-to-civilian-ratio.selected {
    visibility: visible;
    width: 30%;
    height: 100%
}

.police-to-civilian-ratio .svg-content {
    flex: 1;
    width: 100%;
}

.police-to-civilian-ratio .message {
    height: 10%;
    margin: 0;
}

.police-to-civilian-ratio .civilian-img {
    height: 20px;
    width: 20px;
}

.police-to-civilian-ratio .graph-container {
    overflow: visible;
    height: 90%;
    width: 100%;
    /* border: 1px solid orange; */
}

@media (max-width: 900px) {
    .police-to-civilian-ratio {
        width: 100%;
        height: 33%;
    }
}