.police-to-civilian-ratio {
    height: 0%;
    width: 0%;
    transition-property: height, width, visibility;
    transition-duration: 0.5s;
    visibility: hidden;
    display: block;
}

.police-to-civilian-ratio.selected {
    visibility: visible;
    width: 30%;
    height: 100%
}

.police-to-civilian-ratio .svg-content {
    flex: 1;
    width: 100%;
}

.police-to-civilian-ratio .message {
    font-size: 16px;
    font-family: "futura";
    height: 10%;
    margin: 16px 20px;
}

.police-to-civilian-ratio .civilian-img {
    height: 20px;
    width: 20px;
}

.police-to-civilian-ratio .graph-container {
    overflow: visible;
    height: 90%;
    width: 100%;
}

@media (max-width: 1200px) {
    .police-to-civilian-ratio {
        width: 0%;
        height: 0%;
    }

    .police-to-civilian-ratio .message {
        font-size: 20px;
        margin: 16px 0px;
    }

    .police-to-civilian-ratio.selected {
        visibility: visible;
        width: 70%;
        height: 70%;
        margin: auto;
        margin-bottom: 10%;
        order: 1;
    }
}