.police-to-civilian-ratio {
    display: inline-block;
    height: 100%;
    width: 33%;
    flex-direction: column;
    border: 1px solid green;
}

.police-to-civilian-ratio .svg-content {
    flex: 1;
    width: 100%;
}

.police-to-civilian-ratio .message {
    height: 10%;
    margin: 0;
}

.police-to-civilian-ratio .civilian-img {
    height: 20px;
    width: 20px;
}

.police-to-civilian-ratio .graph-container {
    overflow: visible;
    height: 90%;
    width: 100%;
    border: 1px solid orange;
}